{
    "swagger": "2.0",
    "info": {
        "description": "字节青训营-模仿抖音项目",
        "title": "mock tiktok",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "联系人",
            "url": "http://www.swagger.io/support",
            "email": "584807419@qq.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0 版本"
    },
    "host": "videotools.cn",
    "basePath": "/",
    "paths": {
        "/re": {
            "get": {
                "description": "关注或者取消关注用户",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Relation"
                ],
                "summary": "用户关系操作",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "关注者",
                        "name": "user_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "被关注者",
                        "name": "to_user_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.BaseResp"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/model.BaseResp"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/model.BaseResp"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "model.BaseResp": {
            "type": "object",
            "properties": {
                "status_code": {
                    "description": "业务响应码",
                    "type": "integer",
                    "example": 1
                },
                "status_msg": {
                    "description": "业务消息",
                    "type": "string",
                    "example": "xxxx"
                }
            }
        }
    }
}